body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }

  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    background-color: #444;
    padding: 0.5rem;
  }
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  main {
    text-align: center;
    padding: 2rem;
  }
  button {
    
    align-items: flex-start;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  button a {
    text-decoration: none;
    color: white;
  }
  .page-img{
    border-radius: 1%;
    padding: 2%;
  }
  .head {
    position: relative;
}

.image-container {
    position: absolute;
    top: 5%;
    right: 2%;
}

.Home-image {
    max-width: 100px;
    height: auto;
    border-radius: 3%;
}
